$ck: 'checkout';
$active: 'checkout--active';

* {
  --color-1: #282a72;
  --color-2: #e8214c;
  --color-3: #444444;
  --color-4: #ffffff;
  --color-5: #3b3c75;
}

.#{$ck} {
  background-color: var(--color-1);
  position: absolute;
  color: var(--color-3);
  top: 0;
  right: 15px;
  z-index: 10;
  display: block;
  width: 67px;
  height: 67px;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s linear;
    .#{$active} + div > & {
      pointer-events: all;
      opacity: .65;
    }
  }
  &__button {
    position: relative;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    backface-visibility: hidden;
    .#{$active} & {
      cursor: default;
      transform: translate3d(-720%, 0, 0);
    }
    &:focus {
      outline: none;
    }
  }
  &__text {
    display: block;
    padding: 0.8em 0 0;
    color: var(--color-4);
    font-weight: 400;
    font-size: 1.25em;
    .#{$active} & {
      color: var(--color-1);
      background-color: var(--color-5);
    }
  }
  &-icon {
    color: var(--color-4);
    position: absolute;
    top: 50%;
    height: 67px;
    width: 67px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 67px;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    .#{$active} & {
      color: var(--color-3);
    }
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__order {
    position: absolute;
    top: -1px;
    right: -1px;
    overflow: hidden;
    max-width: 100vw;
    width: 550px;
    text-align: right;
    pointer-events: none;
    border: 1px solid transparent;
    transition: border-color 0s linear 0s;
    .#{$active} & {
      pointer-events: auto;
      border-color: var(--color-1);
      transition: border-color 0.4s linear 0.2s;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-1);
      transform: translate3d(100%, -100%, 0) translate3d(-67px, 67px, 0);
      transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
      .#{$active} & {
        transform: translate3d(0, 0, 0);
        transition-delay: 0s;
        background-color: var(--color-4);
      }
    }
    &-inner {
      position: relative;
      padding: 2em 1.9em;
      opacity: 0;
      .#{$active} & {
        opacity: 1;
        transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
      }
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: transparent;
    background: transparent;
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    backface-visibility: hidden;
    &:focus {
      outline: none;
    }
    .#{$active} & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 0.015s;
    }
  }
  &__option, &__close {
    cursor: pointer;
  }
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-3);
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    transition: all .3s linear;
    &:hover {
      background-color: var(--color-1);
      color: var(--color-4);
    }
    &.fa-close {
      cursor: pointer;
    }
  }
  &__total {
    color: var(--color-3);
  }
  &__summary {
    margin: 2.5em 0 0.75em;
    width: 100%;
    color: var(--color-3);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .935em;
    line-height: 1.5;
    tr {
      transform: translate3d(250px, 0, 0);
      .#{$active} & {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
      }
    }
    thead th {
      color: var(--color-1);
      &:nth-child(3) {
        padding-right: 10px;
        text-align: right;
      }
      &:first-child {
        text-align: left;
        padding-left: 0;
      }
    }
    thead th,
    tfoot th {
      color: var(--color-1);
      line-height: 2.1;
      span {
        color: var(--color-3);
      }
    }
    tbody td:nth-child(3) {
      text-align: right;
      padding-right: 10px;
    }
    tfoot {
      th {
        line-height: 1;
        text-align: right;
        &:first-child {
          padding-right: 11px;
          span {
            min-width: 90px;
            display: inline-block;
          }
        }
      }
      tr {
        .checkout--active & {
          transition-delay: 0.105s;
        }
        &:first-child th {
          padding-top: 20px;
        }
        &:last-child span {
          width: 35%;
          display: block;
          border-top: 1px solid var(--color-1);
          float: right;
          padding-top: 10px;
        }
      }
    }
    tbody {
      tr {
        .checkout--active & {
          &:nth-child(1) {
            transition-delay: 0.015s;
          }
          &:nth-child(2) {
            transition-delay: 0.03s;
          }
          &:nth-child(3) {
            transition-delay: 0.045s;
          }
          &:nth-child(4) {
            transition-delay: 0.06s;
          }
          &:nth-child(5) {
            transition-delay: 0.075s;
          }
          &:nth-child(6) {
            transition-delay: 0.09s;
          }
        }
      }
      tr:first-child td {
        padding-top: 0.5em;
      }
      td {
        padding: 0.21em 0;
        font-weight: 700;
        font-size: .935em;
        span {
          color: var(--color-3);
        }
      }
    }
    tbody td:last-child,
    .checkout__total {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    td, th {
      &:last-child {
        text-align: right;
      }
    }
  }
  &__option {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1px;
    background-color: var(--color-1);
    color: var(--color-4);
    font-weight: 700;
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    &:hover {
      background-color: var(--color-5);
    }
    &--silent {
      background: none;
      color: var(--color-1);
      font-weight: 500;
      font-size: 0.75em;
      padding-top: calc(.5em + 2px);
      &:hover {
        background: none;
        color: var(--color-1);
      }
    }
    &.#{$ck}__clear {
      color: var(--color-2);
    }
  }
  &__option {
    &:focus {
      outline: none;
    }
    .#{$active} & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 0.18s;
    }
  }
  &__button {
    #{$active} & {
      @media screen and (max-width: 26em) {
        cursor: default;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vert-split {
    display: flex;
    flex-direction: column;
  }
  tbody td:last-child {
    width: 60px;
    .space-between span {
      font-size: 20px;
      line-height: 15px;
      height: 15px;
      width: 20px;
      position: relative;
      top: 5px;
      cursor: pointer;
      &:hover {
        color: var(--color-2);
      }
    }
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid var(--color-1);
  background: var(--color-1);
  color: white;
}

