.autocomplete-input {
  border: 2px solid black;
  width: 100%;
  padding: .5rem 1rem;
  line-height: 3rem;
  font-size: 20px;
  &::-webkit-search-cancel-button {
    cursor: pointer;
  }
  &[disabled="true"], &disabled {
    border-color: #999;
  }
}

.ui-menu-item {
  border: 1px solid transparent;
  padding: 4px 12px;
  cursor: pointer;
  &.X {
    color: #06C;
    &.ui-state-focus {
      color: #9ff;
    }
  }
}

label[for="jl-makers"],
label[for="jl-products"] {
  transform: translate(15px, 10px);
  display: inline-block;
  background-color: white;
  padding: 0 10px;
  line-height: 21px;
  border: 1px solid black;
}

#order-projector {
  margin-top: 30px;
  opacity: .12;
  .product-title {
    font-size: 36px;
    font-weight: 100;
    text-transform: none;
    text-align: right;
    border-bottom: 1px solid #f5f5f5;
  }
}

.flex-wrap {
  display: flex;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 calc(100% - 240px);
  }
  li {
    flex: 50%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  strong {
    width: 48%;
    display: inline-block;
    background-color: #f5f5f5;
    text-align: right;
    padding: 3px 10px 3px 0;
    margin-right: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
  }
}

.order-flex {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .qbutton {
    text-align: center;
  }
}

[data-prop="Wattage"]:not(:empty):after {
  content: ' W';
}

[data-prop="Lamphours"]:not(:empty):after {
  content: ' h';
}

[data-prop="Trade_Price"] {
  font-size: 42px;
  text-align: right;
  padding: 15px;
  margin-top: 10px;
}

[id^='rxp-overlay-'] {
  z-index: 9999 !important;
}

.inverted {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #e5e5e5;
  fieldset + fieldset{
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 30px);
      margin-left: -15px;
      border-top: 1px solid #e5e5e5;
      top: -15px;
    }
  }
}
.orange {
  color: #f50;
}
.f-group {
  form[action*="order"] & {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    margin: 15px 0;
  }
  legend {
    padding: 0 1rem;
    margin-left: 2.1rem;
    .modal & {
      margin: 1rem 0;
      padding: 0;
    }
    margin-bottom: 0;
    display: inline;
    width: auto;
    border-bottom: none;
  }
  hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  .form-control {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    height: 45px;
  }
  label {
    position: relative;
    display: block;
    margin: .5rem 0 1.5rem;
  }
  textarea {
    min-height: 100px;
  }
}

#use_shipping, #consent, #resend_email {
  display: none;
}

[for="resend_email"] {
  color: #c00;
}

#use_shipping ~ .billing {
  transition: opacity .3s linear, max-height .3s cubic-bezier(.4, 0, .2, 1);
  overflow: hidden;
}

#use_shipping ~ .billing {
  opacity: 1;
  pointer-events: all;
  max-height: 275px;
}

#use_shipping:checked ~ .billing {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}
#consent:not(:checked) ~ button[type="submit"]:not([disabled]),
#consent:checked ~ button[type="submit"][disabled] {
  display: none;
}

.jl-check {
  padding-left: 3em;
  position: relative;
  cursor: pointer;
  padding-top: .5rem;
  &:before {
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, .21);
    content: '';
    position: absolute;
    left: 0;
  }
  &:after {
    content: '';
    width: 13px;
    height: 8px;
    border: solid rgba(0, 0, 0, .21);
    border-width: 0 0 3px 3px;
    position: absolute;
    left: 6px;
    top: 12px;
    transform: rotate(-50deg);
    opacity: 0;
    transition: opacity .3s linear;
    input:checked ~ &,
    input:checked + fieldset & {
      opacity: 1;
    }
  }
}

.save-order-details.btn {
  margin: 2rem 0;
}

.order-received {
  margin: 25px 0 0;
}

.panel.order-received > .panel-heading {
  margin: 0;
}

.panel > .lead:last-child {
  margin-bottom: 0;
}

.jl-order-page {
  padding: 4px; position: relative; overflow: hidden;
  margin: -65px 0 65px;
  .form-group {
    width: 100%;
    display: flex;
    align-items: center;
  }
  > div {
    min-height: 500px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    padding: 30px;
  }
  .post-title {
    margin-bottom: 30px;
  }
}

.invoice-table {
  padding: 0;
  margin: 0 -15px;
  .table {
    width: 100%;
  }
  thead, tbody {
    td:nth-child(2), th:nth-child(2){
      text-align: left;
    }
  }
  tfoot {
    td:nth-child(2) {
      text-align: right;
    }
    tr:last-child td {
      font-weight: bold;
    }
  }
  tbody, tfoot {
    tr + tr td, tr + tr th {
      border-top-color: transparent;
    }
  }
}

.client-details-form {
  display: flex;
  > .row {
    display: flex;
  }
  .hider {
    max-height: 0;
    transition: max-height .3s cubic-bezier(.4, 0, .2, 1);
    overflow: hidden;
  }
  &.active .hider {
    max-height: 300px;
  }
}

.user-details {
  .label {
    width: 60px;
    display: inline-block;
    text-align: right;
    padding: 4px 7px;
    background: transparent;
    color: #666;
  }
}

.payment-ribbon {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 50% 0;
  transform: translate(50%, 0) rotate(45deg);
  padding-top: 60px;
  text-align: center;
  width: 232px;
  text-transform: uppercase;
  text-shadow: 1px 1px 8px rgba(0,0,0,.2), 3px 3px 4px rgba(0,0,0,.14), 0 3px 3px rgba(0,0,0,.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1), 0 3px 4px 0 rgba(0, 0, 0, .07), 0 3px 3px -2px rgba(0, 0, 0, .06);
  &:before, &:after {
    top: 100%;
    width: 0;
    height: 0;
    content: '';
    border: 3px solid;
    position: absolute;
  }
  &:before {
    left: 0;
    border-color: #aaa transparent transparent #aaa;
  }
  &:after {
    right: 0;
    border-color: #aaa #aaa transparent transparent;
  }
}
.payment-status {
  color: white;
  padding: 15px;
  background-color: #e91c48;
  &.status-in-progress {
    background-color: #8f8f9e;
  }
  &.status-00 {
    background-color: #00b58d;
    font-size: 1.25em;
  }
}
#userDetails .modal-title {
  display: inline;
}
.order_form {
  padding-bottom: 5rem;
}

* {
  --color-2: #e8214c;
}
.loader-jl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(#_) {
    background-color: transparent;
  }
}
$dot: 16px;
.loader-5 {
  height: $dot * 4;
  width: $dot * 4;
  animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  &:before, &:after, span, span:before, span:after {
    display: block;
    position: absolute;
    margin: auto;
  }
  &:before, &:after {
    content: '';
    width: $dot;
    height: $dot;
    background:var(--color-2);
    border-radius: 50%;
    top: 0; bottom: 0;
  }
  &:before {
    left: 0;
    animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  &:after {
    right: 0;
    animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }
  span {
    top: 0; left: 0;
    bottom: 0; right: 0;
    height: $dot * 4;
    width: $dot * 4;
    &:before,&:after {
      content: "";
      width: $dot;
      height: $dot;
      background: var(--color-2);
      border-radius: 50%;
      left: 0; right: 0;
    }
    &:before {
      top: 0;
      animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }
    &:after {
      bottom: 0;
      animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    }
  }
}
@-webkit-keyframes loader-5-1 {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes loader-5-2 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d($dot * 3, 0, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d($dot * 3, 0, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}

@-webkit-keyframes loader-5-3 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d($dot * -3, 0, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d($dot * -3, 0, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}


@-webkit-keyframes loader-5-4 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d(0, $dot * 3, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d(0, $dot * 3, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}

@-webkit-keyframes loader-5-5 {
  0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
  50%  { -webkit-transform: translate3d(0, $dot * -3, 0) scale(.5); }
  100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
  0%   { transform: translate3d(0, 0, 0) scale(1); }
  50%  { transform: translate3d(0, $dot * -3, 0) scale(.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}
