/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*body {background-color: #f3f3f2;}*/
table.dataTable {
	border-collapse: collapse !important;
	border-spacing: 1px;
	font-size: 13px;
}

.table .thead-dark th {
	background-color: #989ca0;
	border-color: transparent;
}

.dataTables_scroll:after {
	content: '';
	height: 15px;
	width: 15px;
	right: 15px;
	bottom: 0;
	background-color: #f3f3f2;
	position: absolute;
}

.dataTables_scroll {
	border-bottom: 1px solid white;
}

.Zebra_Tooltip {
	min-width: 210px;
}

.jlTooltip {
	text-decoration: underline;
}

.Zebra_Tooltip_Message {
	white-space: pre-wrap;
}

.jlOrderTable {
	border-spacing: 0;
}

.jlOrderTable tfoot {
	text-align: right;
}

.jlOrderTable tfoot tr:first-child td {
	border-top: 1px solid #ddd;
}

.jlOrderTable th,
.jlOrderTable td {
	vertical-align: top;
	padding: 2px;
}

.jlOrderTable th:nth-child(2n - 1),
.jlOrderTable td:nth-child(2n - 1) {
	text-align: center;
}

.jlOrderTable th:last-child,
.jlOrderTable td:last-child {
	text-align: right;
}
.just-lamps_page_just-lamps-orders>tbody>tr>td:last-child{
	border-right: 9px solid;
}
.just-lamps_page_just-lamps-orders #the-list [class*="status-0"] {
	border-right-color: #00b502;
}
.just-lamps_page_just-lamps-orders #the-list .status-canceled {
	border-right-color: #666;
}
.just-lamps_page_just-lamps-orders #the-list [class*="status-1"],
.just-lamps_page_just-lamps-orders #the-list [class*="status-2"],
.just-lamps_page_just-lamps-orders #the-list [class*="status-3"],
.just-lamps_page_just-lamps-orders #the-list [class*="status-4"],
.just-lamps_page_just-lamps-orders #the-list [class*="status-5"] {
	border-right-color: rgb(255, 64, 129);
}
.just-lamps_page_just-lamps-orders #the-list .status-in-progress {
	border-right-color: #2277cc;
}
h4.divider {
	display: flex;
	align-items: center;
	font-size: 23px;
	font-weight: 100;
	margin: 0;
	color: #999;
}
h4.divider:after,
h4.divider:before {
	content: '';
	height: 0;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid white;
	margin-top: 5px;
}
h4.divider:before {
	width: 2rem;
	margin-right: 1rem;
	margin-left: -.5rem;
}
h4.divider:after {
	flex-grow: 1;
	margin-left: 1rem;
}
.form-table .no-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.radio-setting label {
	width: 50%;
}
.radio-setting {
	display: flex;
	max-width: 215px;
}
.radio-setting input:checked + span {
	color: #008cba;
}
.jl-admin-page td,user-details
.jl-admin-page th {
	padding-bottom: 0;
}
#lc-review-notice, .am-notification {
	display: none;
}
